<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">A regular PhD student here. From China to Nordic.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/SCUT.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2013 - June 2017</h4>
                                    <h4 class="subheading">South China University of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor in Mechanical Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/KU.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2018 - Jan 2021</h4>
                                    <h4 class="subheading">Copenhagen University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Master in IT and Cognition</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/UU.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2021 - Present </h4>
                                    <h4 class="subheading">Uppsala University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PhD in Social Robotics for mental healthcare</p>
                                </div>
                            </div>
                        </li>
                   
                        <li class="timeline-inverted" >
                            <div class="timeline-image" >
                                <a href='ResumeMengyuZhong.pdf'>
                                    <h4 class="h4" >More 
                                        <br>about me?
                                        <br> My Resume</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>